r18032st
body{
font-family:'Poppins',sans-serif;
background:#f4f6f9;
}


.navbar{
background:#1c2b4a;
}


.navbar a{
color:white;
text-decoration:none;
margin:15px;
}


.hero{

height:500px;

background:url("https://images.unsplash.com/photo-1566665797739-1674de7a421a");

background-size:cover;

display:flex;

align-items:center;

justify-content:center;

color:white;

text-align:center;

}


.hero h1{
font-size:50px;
}


.section{
padding:60px;
}


.card{

border:none;

transition:0.3s;

}


.card:hover{

transform:translateY(-10px);

box-shadow:0px 10px 25px grey;

}


.roomimg{

height:200px;
object-fit:cover;

}


.icon{

font-size:40px;
color:#2a6df4;

}